body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.name {
  font-weight: 300;
  font-size: 4.7em;
}

.position {
  font-weight: 100;
  font-size: 2em;
  opacity: 0.7;
}

.icons {
  font-size: 3em;
}

.center-block {
  margin: auto;
}

.main {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("background.jpg") !important;
}

.icons > a {
  color: white;
  opacity: 0.7;
}

.icons > a:hover {
  color: white;
  opacity: 1;
}

.photoCredits {
  color: white;
  position: absolute;
  bottom: 1em;
  right: 0;
  margin-right: 1em;
  font-size: 0.7em;
}

.photoCredits > a {
  color: white;
  text-decoration: none;
  opacity: 0.6;
}

.photoCredits > a:hover {
  color: white;
  text-decoration: underline;
}
